html,body{
    height: 100%;
}

aside#left{
    float: left;
    width: 15%;
    height: 70%;
}

section{
    float: left;
    width: 60%;
    height: 70%;
}

aside:right{
    float:right;
    width: 22%;
    height: 70%;
}

footer{
    clear: both;
}

h1 > a {
    font-family: "Kanit", sans-serif;
    color: green;
    text-decoration: none;
}

h1{
    text-align: center;
}

li > a {
    font-family: "Kanit", sans-serif;
    color: green;
    text-decoration: none;
}

h2,h4{
    color: green;
}

nav ul{
    list-style: none;
    text-align: center;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 10px 0;
    
}

nav ul li{
    display: inline;
    letter-spacing: 5px;
    padding: 0 10px;
}

.show {
    width: 60%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.099);
    color: black;
    position:absolute;
    top:10%;
    right:10%;
    text-align: center;
    padding: 20px 0;
    animation: 6s showText infinite;
}

@keyframes showText {
    0% { opacity: 0;}
    30%{ opacity: 1;}
    60%{ opacity: 1;}
    100%{ opacity: 0;}
}


